* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main-container {
  background: #020817;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container > * {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
